* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 1.8em Helvetica, Arial;
  }
  
  form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  form input {
    border: 0;
    padding: 10px;
    width: 89%; /* 90% is too much */
    margin-right: .5%;
  }
  
  form #button {
    color: #FFF;
    background: #2D9F0B;
    border: none;
    padding: 10px;
    width: 9%;
  }
  
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #messages li {
    padding: 5px 10px;
  }
  
  #messages li:nth-child(odd) {
    background: #cee0da5e;
    color: #006747;
  }
  
  #notifyUser {
    position: fixed;
    bottom: 42px;
    width: 100%;
  }
  
  li.mesgList {
    background: #006747;
    border-radius: 10px;
    color: #fff;
  }